
PORT=5001
JWT_SECRET=change_this_to_a_long_random_secret

DB_HOST=cpanel-sh117.webhostingservices.com
DB_PORT=3306
DB_USER=pixelfla_vertex_user
DB_PASSWORD=8.+wlwTE65sS
DB_NAME=pixelfla_chaitra_ventures

ADMIN_USERNAME=admin
ADMIN_PASSWORD=chaitraventures

# Frontend domain for CORS (comma-separated)
CORS_ORIGIN=http://localhost:5173
